
.navbar{
    background-color: #ff4b5c;
}

.btn{
    background-color: #056674;
}

.cover h1{

    font-size: 100px;
}
.contact-body{
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }