
.navbar{
    background-color: #ff4b5c;
}

.btn{
    background-color: #ff4b5c;
}



.cover h1{
    text-shadow: 2px 2px red;
    font-size: 100px;
}
.cover p1{
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px white;
}
.contact-body{
    background-image: url('africa.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contact-box{
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.homepage{
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

